/*
 * style.css
 */

html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color: #8a8a8a;
	background: #444 url(images/broken_noise.png);
	font: 16px/1.5 sans-serif;
	margin: 0;
}

p {
	margin: 1.5em 0;
}

label {
	font: 14px monospace;
	vertical-align: baseline;
	text-align: left;
}

p label {
	font: 14px/1 sans-serif;
}

button, input, select {
	vertical-align: baseline;
	*vertical-align: middle;
	font-size: 100%;
	margin: 0;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button {
	cursor: pointer;
	-webkit-appearance: button;
}

p button {
	font-size: 14px;
}
.form-wrapper button {
	font-size: 15px;
	padding: 5px 10px;
}

::selection {
	color: #efefef;
	background-color: #5f0000;
	text-shadow: none;
}

::-moz-selection {
	color: #efefef;
	background-color: #5f0000;
	text-shadow: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a, a:link {
	color: #B21A0D;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #B21A0D;
}

#main {
	width: 876px;
	margin: 0 auto;
}

header {
	display: block;
	background: #000 url(images/wood_1.png);
	padding: 40px 0;
	margin-bottom: 35px;
	-webkit-box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.8);
	box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.8);
}

header h1 {
	width: 640px;
	color: #a00;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	text-shadow: 0 0 6px rgba(255, 32, 32, 0.75);
	-moz-transform: skewX(-10deg) rotate(1deg);
	-webkit-transform: skewX(-10deg) rotate(1deg);
	-o-transform: skewX(-10deg) rotate(1deg);
	-ms-transform: skewX(-10deg) rotate(1deg);
	transform: skewX(-10deg) rotate(1deg);
	margin: 0 auto;
}

.left-column,
.right-column {
	width: 410px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
}

.right-column {
	margin-left: 50px;
}

.scrollbox {
	width: 368px;
	overflow: auto;
	background: url(images/concrete_wall_2.png);
	color: #000;
	font-weight: 600;
	font-family: 'Josefin Slab', serif;
	border: 1px solid #707070;
	padding: 0 15px;
	-webkit-box-shadow: 10px 5px 10px 5px #111;
	-moz-box-shadow: 10px 5px 10px 5px #111;
	box-shadow: 10px 5px 10px 5px #111;
}

#scrollbox1 {
	height: 550px;
}

#scrollbox2 {
	height: 450px;
}

#scrollbox2 p {
	width: 600px;
}

#sample-text1 {
	width: 12em;
}

.form-wrapper {
	text-align: center;
	padding: 25px 0;
}

.form-wrapper input {
	text-align: right;
}

.form-wrapper * {
	vertical-align: middle;
}

/*
.vertical-handle,
.horizontal-handle {
	background-color: #333;
	opacity: 0.85;
	filter: alpha(opacity=85);
	border-radius: 8px;
}

.vertical-handle {
	background-image: -o-linear-gradient(0, #555 15%, #000 50%, #333 100%);
	background-image: -moz-linear-gradient(0, #555 15%, #000 50%, #333 100%);
	background-image: -webkit-linear-gradient(0, #555 15%, #000 50%, #333 100%);
	background-image: -ms-linear-gradient(0, #555 15%, #000 50%, #333 100%);
	background-image: linear-gradient(0, #555 15%, #000 50%, #333 100%);
}

.horizontal-handle {
	background-image: -o-linear-gradient(top, #555 15%, #000 50%, #333 100%);
	background-image: -moz-linear-gradient(top, #555 15%, #000 50%, #333 100%);
	background-image: -webkit-linear-gradient(top, #555 15%, #000 50%, #333 100%);
	background-image: -ms-linear-gradient(top, #555 15%, #000 50%, #333 100%);
	background-image: linear-gradient(top, #555 15%, #000 50%, #333 100%);
}
*/

.vertical-track,
.vertical-handle {
	width: 16px;
	z-index: 1;
}

.vertical-handle .top {
	height: 10px;
	background: url(images/black-scroll-vertical.png) no-repeat;
}

.vertical-handle .bottom {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/black-scroll-vertical.png) no-repeat 0 bottom;
	clip: rect(10px 16px 9999px 0);
}

.horizontal-track,
.horizontal-handle {
	height: 16px;
	z-index: 1;
}

.horizontal-handle .left {
	width: 10px;
	height: 100%;
	background: url(images/black-scroll-horizontal.png) no-repeat;
}

.horizontal-handle .right {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/black-scroll-horizontal.png) no-repeat right 0;
	clip: rect(0 9999px 16px 10px);
}

#pCount {
	text-align: right;
	width: 140px;
}

#pSummary {
	width: 3em;
	background: #ddd;
	font-size: 14px;
	text-align: right;
}

footer {
	display: block;
	width: 640px;
	font-size: 13px;
	font-style: italic;
	text-align: center;
	padding-bottom: 35px;
	margin: 35px auto 0;
}

footer b {
	font-size: 24px;
	position: relative;
	top: 2px;
	cursor: default;
}

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	direction: ltr;
	text-align: left;
}
.ir br {
	display: none;
}