<table>
	<thead>
		<tr>
			<th class="property">Property</th>
			<th class="value">Default Value</th>
			<th class="description">Description</th>
		</tr>
	</thead>
	<tbody>
{{#each this}}
		<tr>
			<td class="property">{{property}}</td>
			<td class="value">{{value}}</td>
			<td class="description">{{description}}</td>
		</tr>
{{/each}}
	</tbody>
</table>
