<ul>
{{#each this}}
	<li>
		<dt class="property">Property</dt>
		<dd class="property">{{property}}</dd>
		<dt class="value">Default Value</dt>
		<dd class="value">{{value}}</dd>
		<dt class="description">Description</dt>
		<dd class="description">{{description}}</dd>
	</li>
{{/each}}
</ul>
